#quote {
  background-color: #FFFFFF;
  padding-top: 1em;
}

body {
  background-color: #7986CB !important;
  margin: 3em;
}

p {
  color: #7986CB;
  font-family: 'Roboto', sans-serif;
  font-size: 24pt;
}

footer {
  color: #7986CB;
}

button {
  padding: 1em;
}